*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
   grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    float: center;

}
.panel{
    display: flex;
  background-color: grey;
  width: 100%;
  height: 600px;
  margin: 10px;
  align-items: center;  
}
html{ 
    scroll-behavior: smooth;
}
