/* header{
    height: 80px;
    background-color: aqua;
    text-align: center;
    font-size: 50px;
    font-family: monospace;

}

.left{
    width: 25%;
    float: left;
    background-color: blueviolet;
    height: 200px;
    text-align: center;
    color: black;
    font-size: 30px;
}
.center{
    font-size: 30px;
    width: 50%;
    float: left;
    background-color: yellow;
    height: 200px;
    text-align: center;
    color: black;

}
footer{
    border: 3px solid grey;
    width:100%;
    float: left;
    background-color:mediumpurple;
    height: 50px;
    text-align:start;
    color: black;
} */
 .container{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    text-align: center;
    color: white;
 }
 .left{
    width: 30%;
    background-color: mediumvioletred;
 }

 .last{
    width: 30%;
    background-color: rgb(21, 69, 199);
 }
 .center{
    width: 40%;
    background-color: rgb(69, 218, 160);
 }
 header, footer{
    text-align: center;
    background-color: bisque;
    height: 30px;
 }
 /* RESPONSIVENESS USING FLEX BOX
  */
  @media screen and (max-width: 768px){
    .left,center{
        width: 50%;
    }
    .last{
        width: 100%;
    }
}
 @media screen and (max-width: 360px){
    .left,center{
        width: 50%;
    }
    .last{
        width:100%;
    }
    footer{
        display: none;
    }
}