*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
input{
    background-color: rgb(189, 186, 186);
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-left: 50%;
    height: 200px;
    width: 200px;
    border: 1px solid;
    z-index: 0;
    transition:  3s ease-in-out; 
    
}