.container{
display: flex;
flex-direction: row;
flex-wrap:wrap ;
background-color: green;
}
.box{
    width: 40px;
    height: 40px;
    background-color: aquamarine;
    color: black;
    margin: 5px;
    text-align: center;
}